<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/about_us_style.css">
</head>
<body>
<div class="container">
    <header>
        <h1>About Us</h1>
    </header>
    <section class="developer">
        <div class="card">
            <img src="https://i.imgflip.com/6j5osf.jpg" alt="Oscar Navarro">
            <h2>Oscar Navarro (el King)</h2>
            <p>¡Hola! Soy Oscar Navarro, conocido como "el King" entre mis colegas. Soy un apasionado desarrollador con experiencia en varias tecnologías, incluyendo Spring Boot, HTML, CSS y JavaScript. Me encanta resolver problemas y crear soluciones innovadoras. Cuando no estoy programando, me gusta jugar al fútbol y leer libros de ciencia ficción.</p>
        </div>
    </section>
</div>
</body>
</html>
