<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="/css/AdminStyles/PrincipalAdminStyle.css">
</head>
<body>
<header>
    <div class="userInfo">
        <img th:src="${users.profilePicture}" alt="ProfilePicture" class="profilePicture">
        <h1 th:text="${users.nameUser}">Welcome, [User Name]</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="actionsUser">
        <a th:href="@{/newUserData}"><input type="button" value="ATTENDANCE"></a>
        <a th:href="@{/eventData/createEvent}"><input type="button" value="EVENT"></a>
    </section>
    <br>
    <section class="recentActivities">
        <h2>Recent Activities</h2>
        <p>CREO EVENTO PARA APRENDICES FICHA 284930</p>
        <p>CREO EVENTO PARA APRENDICES FICHA 284933</p>
        <p>ACTUALIZO EVENTO PARA APRENDICES FICHA 284930</p>
        <p>ELIMINO EVENTO PARA APRENDICES FICHA 293821</p>
        <p>CREO EVENTO PARA APRENDICES FICHA 282230</p>
    </section>
</main>

<footer>
    <p>&copy; 2024 User Main Page. All rights reserved.</p>
</footer>
</body>
</html>
