<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/about_us_style.css">
</head>
<body>
<div class="container">
    <header>
        <h1>About Us</h1>
    </header>
    <section class="developer">
        <div class="card">
            <img src="https://i.imgflip.com/6j5osf.jpg" alt="Oscar Navarro">
            <h2>Oscar Navarro</h2>
            <p>Soy un estudiante de desarrollo de Adso. En mi tiempo libre, me gusta ver fútbol</p>
        </div>
        <div class="card">
            <img src="https://i.imgflip.com/6j5osf.jpg" alt="Johan">
            <h2>Johan</h2>
            <p>Soy un entusiasta estudiante de programación con habilidades en diversas tecnologías. Además de estudiar, disfruto de mis momentos libres fumando y explorando nuevas ideas.</p>
        </div>
        <div class="card">
            <img src="https://i.imgflip.com/6j5osf.jpg" alt="Juan">
            <h2>Juan</h2>
            <p>Me apasiona la programación y soy estudiante de tecnologías como HTML, CSS y JavaScript. Cuando no estoy estudiando, me gusta explorar el mundo de los furros y buscar inspiración para nuevos proyectos.</p>
        </div>
    </section>
</div>
</body>
</html>
