<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESET</title>
    <link rel="stylesheet" href="/css/LoginStyle.css">
</head>

<body>
<div class="container">
    <form id="forma" name="forma" method="post">

        <h1>Restore Password</h1>
        <div class="element">
            <div class="imagen">
                <img src="imagens/envelope-solid.svg">
            </div>
            <div class="dates">
                <input type="email" id="email" name="email" required="true" placeholder="Enter your e-mail">
            </div>
        </div>
        <div class="recaptchat">
            <h2>Recaptchat</h2>
        </div>
        <div class="button-send">
            <input type="submit" id="button" name="button" value="Enviar">
        </div>
        <hr>
        <a class="long-in" th:href="@{/login}">log in</a>
    </form>
</div>
</body>
</html>