<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/errorCss/ErrorDefaultStyle.css">
</head>
<body>
<div class="error-container">
    <div class="error-content">
        <div class="error-code">Error</div>
        <h1>Oops! Something went wrong</h1>
        <p>The website encountered an error and cannot process your request at this time.</p>
    </div>
</div>
</body>
</html>