* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background: url("https://images.squarespace-cdn.com/content/v1/5ac2ddf285ede15e39a57666/ae2896cb-3768-41bb-8bc3-7e5298dfcd0b/Design-Anthology-2022-04+Light+_+Dark+apartment%2C+Tainan+-+Degree+Design-Degree_Design_BBBLACK-213.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 3rem;
    font-size: 1.2rem;
    color: rgb(239, 225, 225);
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    width: 100px;
    line-height: 1.1;
}

.login-form {
    background: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    color: #ffffff;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.forgot-password {
    color: #ffffff;
    text-decoration: none;
}

.btn-login {
    background: none;
    border: 4px solid rgb(226, 219, 219);
    border-radius: 5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(233, 220, 220);
    padding: 1rem 3rem;
    cursor: pointer;
}

.btn-login:hover {
    background: rgb(226, 219, 219);
    color: #000;
}
